<app-header></app-header>
<div class="basket">
  <div class="basket__items">
    <div *ngIf="showLinkCatalog">
      You have so much money and this basket is still empty. Go to the catalog and choose something for yourself
    </div>
    <div class="wrapper-card-basket" *ngFor="let product of products">
      <div>
        <img class="wrapper-card-basket__img" [src]="product.variant.images[0].url" [alt]="product.name['en-US']" />
      </div>
      <div class="wrapper-card-basket__price_name">
        <h2>{{ product.name['en-US'] }}</h2>
        <p [style]="product.price.discounted ? 'text-decoration:line-through' : ''">
          Price: {{ product.price.value.centAmount / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
        </p>
        <p class="wrapper-card-basket__discount" *ngIf="product.price.discounted">
          Price: {{ product.price.discounted.value.centAmount / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
        </p>
        <p class="wrapper-card-basket__total-price">
          Total price: {{ product.totalPrice.centAmount / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
        </p>
      </div>
      <div class="wrapper-btn">
        <div class="basket__amount">
          <button
            class="btn__quantity minus"
            [disabled]="disabledBtn === true"
            (click)="clickMinus(quantity.value, product.id)"
          >
            -
          </button>
          <input
            class="basket__amount-input"
            inputmode="numeric"
            pattern="[0-9]*"
            min="1"
            disabled="true"
            max="100"
            type="number"
            value="{{ product.quantity }}"
            #quantity
          />
          <button
            class="btn__quantity plus"
            [disabled]="disabledBtn === true"
            (click)="clickPlus(quantity.value, product.id)"
          >
            +
          </button>
        </div>
        <button class="remove" (click)="clickRemove(product.id, quantity.value)">Remove Item</button>
      </div>
    </div>
  </div>

  <div *ngIf="!showLinkCatalog" class="basket__complete">
    <div class="basket__price basket__price-complete">
      Total Price: {{ totalPrice / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
    </div>
    <app-button text="К оформлению"></app-button>
  </div>
</div>
