<div class="register__layout">
  <div class="information-wrapper">
    <div class="information-wrapper__background"></div>
    <img class="information-wrapper__img" src="../../../assets/img/im-fine.svg" alt="" />
    <p class="information-wrapper__text">
      Hi there, do you have money? Tell me how much, i will give you things you need
    </p>
    <button class="return-main-page">
      <img src="../../../assets/img/Vector.svg" />
      <p>Вернуться на главную страницу</p>
    </button>
  </div>
  <div class="register__form">
    <form (submit)="onSubmit($event)" class="register__background">
      <div class="register__wrapper">
        <h2>Register</h2>
        <p *ngIf="error">Error message</p>
        <input type="text" placeholder="First Name" [(ngModel)]="data.firstName" />
        <input type="text" placeholder="Last Name" [(ngModel)]="data.lastName" />
        <input type="email" placeholder="Email" [(ngModel)]="data.email" />
        <input type="password" placeholder="Type password" [(ngModel)]="data.password" />
        <div class="button__register__wrapper">
          <button>Back</button>
          <button (click)="service.register(data)">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
