@import url(normalize.scss.css);

.register__layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  max-height: 100vh;
}

.information__wrapper {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.register__background {
  margin: 100px auto;
  width: 70%;
  height: 60vh;
  background: #333333;
  //border-radius: 0.375rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.register__wrapper {
  display: flex;
  flex-direction: column;
  width: 742px;
  margin: 10% 10%;

  input {
    width: 100%;
    height: 78px;
    border-radius: 0.3rem;
    margin: 10px 0;
  }

  h2 {
    color: #f2f2f2;
    text-align: center;
  }
}

.button__register__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  button {
    background: linear-gradient(rgba(255, 226, 89, 1), rgba(255, 167, 81, 1));
    color: #333333;
    text-align: center;
    border-radius: 75px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
  }
}

.return-main-page {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-right: 40%;
  gap: 5px;
  outline: none;
  background-color: transparent;
  border: 0;
  font: 1.3em sans-serif;
  cursor: pointer;
}

.return-main-page:hover {
  color: #1840c4;
}

.information-wrapper__img {
  margin: 0 auto;
  width: 250px;
}

@media (max-width: 820px) {
  .information__wrapper {
    display: none;
  }
  .register__form {
    width: 100%;
  }
}

.information-wrapper {
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-wrapper__background {
  position: absolute;
  top: -325px;
  right: 0;
  background-color: #ffe259;
  display: flex;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
}

.information-wrapper__img {
  z-index: 1;
  width: 300px;
  height: auto;
}

.information-wrapper__text {
  z-index: 1;
  font:
    bold 2em Roboto,
    sans-serif;
  color: #4f4f4f;
  width: 100%;
  max-width: 75%;
}

.return-main-page {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-right: 40%;
  gap: 5px;
  outline: none;
  background-color: transparent;
  border: 0;
  font: 1.3em sans-serif;
  cursor: pointer;
}

.return-main-page:hover {
  color: #1840c4;
}

.login-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}
