<div class="register__layout">
  <div class="information-wrapper">
    <div class="information-wrapper__background"></div>
    <img class="information-wrapper__img" src="../../../assets/img/im-fine.svg" alt="" />
    <p class="information-wrapper__text">
      Hi there, do you have money? Tell me how much, i will give you things you need
    </p>
    <button routerLink="" class="return-main-page">
      <img src="../../../assets/img/Vector.svg" alt="vector" />
      <p>Вернуться на главную страницу</p>
    </button>
  </div>
  <div class="register__form">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)" class="register__background">
      <div class="register__wrapper">
        <h2>Register</h2>
        <p *ngIf="error">Error validate | {{ this.errorMsg }}</p>
        <p *ngIf="sumbitted && registrationForm.get('email')?.invalid">Please enter a valid email address.</p>
        <p *ngIf="sumbitted && registrationForm.get('password')?.invalid">
          Password must have at least 8 characters, 1 uppercase letter, 1 lowercase letter, and 1 number.
        </p>
        <input type="text" placeholder="First Name" formControlName="firstName" />
        <p *ngIf="sumbitted && registrationForm.get('firstName')?.invalid">Invalid first name.</p>
        <input type="text" placeholder="Last Name" formControlName="lastName" />
        <p *ngIf="sumbitted && registrationForm.get('lastName')?.invalid">Invalid last name.</p>
        <input type="email" placeholder="Email" formControlName="email" />
        <p style="color: white">Date of birth</p>

        <input type="date" formControlName="date" />
        <p *ngIf="sumbitted && registrationForm.get('date')?.invalid">Invalid date name.</p>
        <div formArrayName="addresses">
          <div *ngFor="let addressForm of adresses.controls; let i = index" [formGroupName]="i" class="address">
            <h2>Adress {{ i + 1 }}</h2>
            <p style="color: white">Country:</p>
            <select formControlName="country">
              <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
            </select>
            <p *ngIf="sumbitted && addressForm.get('country')?.invalid">Invalid country name.</p>
            <p style="color: white">Specify city:</p>
            <input type="text" formControlName="city" />
            <p *ngIf="sumbitted && addressForm.get('city')?.invalid">Invalid city name.</p>
            <p style="color: white">Street:</p>
            <input type="text" formControlName="streetName" />
            <p *ngIf="sumbitted && addressForm.get('streetName')?.invalid">Invalid street.</p>
            <p style="color: white">Street number:</p>
            <input type="text" formControlName="streetNumber" />
            <p *ngIf="sumbitted && addressForm.get('streetNumber')?.invalid">Invalid street number.</p>
            <p style="color: white">Postal code:</p>
            <input type="text" formControlName="postalCode" />
            <p *ngIf="sumbitted && addressForm.get('postalCode')?.invalid">Invalid postal code.</p>
            <button *ngIf="i !== this.defaultShippingAddress" (click)="defaultAddress(i)">
              Set default shipping address
            </button>
            <button *ngIf="i === 1" (click)="removeAddress(i)">Remove address</button>
          </div>
        </div>
        <input type="password" placeholder="Type password" formControlName="password" />
        <div class="button__register__wrapper">
          <button *ngIf="showBilling" (click)="addAdress()" type="button">Add Billing address</button>
          <button routerLink="/login" type="button">Sign in</button>
          <button type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>
