<app-logo routerLink="" class="logo"></app-logo>

<div class="buttons">
  <button routerLink="/main">Main</button>
  <button routerLink="/catalog">Catalog</button>
  <button *ngIf="!isSignedIn" routerLink="/login">Sign In</button>
  <button *ngIf="!isSignedIn" routerLink="/registration">Sign Up</button>
  <button (click)="signOutEventHandler()" *ngIf="isSignedIn">Sign Out</button>
  <button routerLink="/about">About</button>
  <app-user-icon routerLink="/profile" *ngIf="isSignedIn"></app-user-icon>
  <app-cart></app-cart>
</div>
