<app-logo routerLink="" class="logo"></app-logo>

<div class="links">
  <div class="links__burger" (mousedown)="toggleMenu()" [ngClass]="{ links__burger_active: isMenuActive }">
    <a class="links__link" routerLink="/main">Main</a>
    <a class="links__link" routerLink="/catalog">Catalog</a>
    <a class="links__link" *ngIf="!isSignedIn" routerLink="/login">Sign In</a>
    <a class="links__link" *ngIf="!isSignedIn" routerLink="/registration">Sign Up</a>
    <a class="links__link" routerLink="/about">About</a>
    <a class="links__link links__link_sign-out" routerLink="/" (click)="signOutEventHandler()" *ngIf="isSignedIn"
      >Sign out</a
    >
  </div>

  <app-user-icon class="user-icon" routerLink="/profile" *ngIf="isSignedIn"></app-user-icon>
  <app-cart class="cart"></app-cart>

  <app-burger-icon
    class="burger-icon"
    [ngClass]="{ 'burger-icon_active': isMenuActive }"
    (click)="toggleMenu()"
  ></app-burger-icon>
</div>
