<div class="wrapper-card-basket">
  <div>
    <img class="wrapper-card-basket__img" [src]="product.variant.images[0].url" [alt]="product.name['en-US']" />
  </div>
  <div class="wrapper-card-basket__price_name">
    <h2>{{ product.name['en-US'] }}</h2>
    <p [style]="product.price.discounted ? 'text-decoration:line-through' : ''">
      Price: {{ product.price.value.centAmount / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
    </p>
    <p class="wrapper-card-basket__discount" *ngIf="product.price.discounted">
      Price: {{ product.price.discounted.value.centAmount / 100 | currency: 'EUR' : 'symbol' : '1.0-0' }}
    </p>
    <p class="wrapper-card-basket__total-price">
      Total price: €
      <input
        type="number"
        class="wrapper-card-basket__total-price_inptut"
        [disabled]="true"
        value="{{ showTotalPrice ? product.totalPrice.centAmount / 100 : totalPrice }}"
      />
    </p>
  </div>
  <div>
    <div class="basket__amount">
      <app-button text="-" (click)="clickMinus(quantity.value, product.id)"></app-button>
      <input
        class="basket__amount-input"
        inputmode="numeric"
        pattern="[0-9]*"
        min="1"
        max="100"
        type="number"
        value="{{ showTotalPrice ? product.quantity : curentQuantity }}"
        #quantity
      />
      <app-button text="+"></app-button>
    </div>
  </div>
</div>
