.wrapper-card-basket {
  display: flex;
  padding: 0.3rem 0.5rem;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}

.wrapper-card-basket__img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.wrapper-card-basket__price_name {
  margin-left: 5%;
}

.wrapper-card-basket__discount {
  color: rgb(180, 33, 33);
  font-weight: 600;
}

.wrapper-card-basket__total-price {
  font-weight: 800;
}
.basket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  &__amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  &__amount-input {
    padding: 0.3rem 0.2rem;
    width: 4em;
    text-align: center;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.wrapper-card-basket__total-price_inptut {
  outline: none;
  border: none;
  height: 20px;
  font-size: 15px;
  font-weight: 800;
  background-color: #ffffff;
  color: #000000;
}
.btn__quantity {
  width: 27px;
  height: 27px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}
.minus {
  border-color: #e74b4b;

  &:disabled {
    border-color: #a8a1a1;
  }
}

.plus {
  border-color: #70db45;

  &:disabled {
    border-color: #a8a1a1;
  }
}

.remove {
  padding: 4px;
  color: #ffffff;
  background-color: #e74b4b;
  border: none;
  border-radius: 5px;
}
