.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  // background-color: #000;
  max-width: 320px;
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;

  &__btn {
    width: 100%;
    padding: 0 0.5rem;
    text-align: center;
    white-space: nowrap;
    color: #000;

    background-color: #febd69;
    appearance: none;
    border: none;
    outline: 1px solid #eeb161;

    &:hover:enabled {
      background-color: #eeb161;
      cursor: pointer;
    }

    &:disabled {
      background-color: #d39d56;
      color: #a1855f;
    }
  }
}
