.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: #000;
  color: #fff;
  max-width: 320px;
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;

  &__link {
    width: 100%;
    padding: 0 0.5rem;
    text-align: center;
    white-space: nowrap;
    outline: 1px solid #fff;
    // transition: all 0.15s ease-in-out;

    &:hover {
      background-color: #febd69;
      color: #000;
      cursor: pointer;
    }
  }
}
