<app-header></app-header>
<div class="main">
  <app-nav-links></app-nav-links>
  <h2>Catalog</h2>
  <div class="filter-wrapper">
    <div class="category">
      <div>
        <input type="checkbox" #checkPhone (click)="clickPhone(checkPhone.checked)" />
        Phone
      </div>
      <div>
        <input type="checkbox" #checkTablet (click)="clickTablet(checkTablet.checked)" />
        Tablet
      </div>
      <div>
        <input type="checkbox" #checkLaptop (click)="clickLaptop(checkLaptop.checked)" />
        Laptop
      </div>
      <div>
        <input type="checkbox" #checkWatch (click)="clickWatch(checkWatch.checked)" />
        Watch
      </div>
    </div>
    <button (click)="clickSave()">Save</button>
    <button>Reset</button>
  </div>
  <div class="test">
    <app-card *ngFor="let card of result" [product]="card"> </app-card>
  </div>
</div>

<app-footer></app-footer>
