<div class>
  <div class="product__container">
    <h1 style="color: red" *ngIf="!loading">Loading...</h1>
    <div *ngIf="loading" class="title__container">
      <h2>{{ productView.name['en-US'] }}</h2>
      <swiper-container
        pagination="true"
        pagination-type="progressbar"
        navigation="true"
        initial-slide="0"
        slides-per-view="1"
      >
        <swiper-slide *ngFor="let img of productView.masterVariant.images; let i = index">
          <img src="{{ img.url }}" alt="phone" />
        </swiper-slide>
      </swiper-container>
      <!--      <img src="{{ productView.masterVariant.images[0].url }}" alt="" />-->
      <p>{{ productView.description['en-US'] }}</p>
      <h3>{{ productView.masterVariant.prices['0'].value.centAmount | currency }}</h3>
    </div>
  </div>
</div>
