<div class="about__wrapper">
  <div class="about__container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image alexMur"></div>
        <mat-card-title>Alexander Murenkov</mat-card-title>
        <mat-card-subtitle>Frontend developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/PhotoTeam/Alex.jpg" alt="Alexander Murenkov" />
      <mat-card-content>
        <p>
          Hello, my name is Sasha. I am 28 years old. I live in the city of Minsk.
           I have a higher education as an automation engineer.
           However, I did not work in my specialty. He worked as an assistant foreman in the printing industry.
           In my free time I like to listen to music, ride a bike, ride a scooter and walk, and also meet with friends.
           I hope to find a job in the IT field in the future.
           <br>There is only one god, and his name is Comments in the Code. And we tell the Commentaries in the Code only one thing: “Not today.”
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Danil Shitikov</mat-card-title>
        <mat-card-subtitle>Frontend developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/PhotoTeam/Danil.jpg" alt="Danil Shitikov" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
          dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vyacheslav Byrdaev</mat-card-title>
        <mat-card-subtitle>Frontend developer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
          dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="rs__school">
    <a href="https://rs.school/">
      <img width="300px" height="200px" src="assets/images/rs_school.svg" alt="Rs school" />
    </a>
  </div>
</div>
