<app-nav-links class="nav"></app-nav-links>
<div class="user">
  <h2 class="user__name">
    {{ user.firstName }} <br />
    {{ user.lastName }}
  </h2>

  <div class="user__data">
    <div>
      <h3 class="user__data-heading">Email</h3>
      <span class="user__data-content">{{ user.email }}</span>
    </div>

    <div *ngFor="let shippingAddress of user.shippingAddresses; let i = index">
      <h3 class="user__data-heading shipping">Address {{ i + 1 }}</h3>
      <span class="user__data-content">
        {{ shippingAddress.postalCode }}, {{ shippingAddress.country }}, {{ shippingAddress.city }},
        {{ shippingAddress.streetName }}, {{ shippingAddress.streetNumber }}</span
      >
    </div>

    <div *ngFor="let billingAddress of user.billingAddresses; let i = index">
      <h3 class="user__data-heading billing">Address {{ i + 1 }}</h3>
      <span class="user__data-content"
        >{{ billingAddress.postalCode }}, {{ billingAddress.country }}, {{ billingAddress.city }},
        {{ billingAddress.streetName }}, {{ billingAddress.streetNumber }}</span
      >
    </div>
  </div>
</div>
