<div class='register__layout'>
  <div class='information__wrapper'>
    <img src='' alt=''>
    <p class='information-wrapper__text'></p>
    <button>
      <img src='' alt=''>
      <p>Вернуться на главную страницу</p>
    </button>
  </div>
  <div class='register__form'>
    <div class='register__wrapper'>
      <h2>Register</h2>
      <input type='text' placeholder='Name' />
      <input type='email' placeholder='Email' />
      <input type='number' placeholder='Number phone' />
      <input type='text' placeholder='Type your nickname' />
      <input type='password' placeholder='Type password' />
      <input type='password' placeholder='Again type password' />
      <div class='button__register__wrapper'>
        <button>Back</button>
        <button>Sign in</button>
      </div>
    </div>
  </div>
</div>
