.card-wrapper {
  padding: 0.3rem 0.5rem;
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: 0.5s;
  min-width: 700px;
  margin-bottom: 30px;
}

.card-wrapper:hover {
  background-color: rgb(238, 227, 227);
  transform: scale(1.2);
  box-shadow: 10px 5px 5px rgba(51, 50, 50, 0.6);
}

.card-wrapper__img {
  width: auto;
  max-height: 200px;
  height: 100%;
  margin-right: 20px;
}

.card-wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.card-btn {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px solid;
  background: linear-gradient(to right, #ffe259, #ffa751);
  font-size: 1rem;
}

.card-btn:hover {
  cursor: pointer;
}

.discount {
  margin-top: 5px;
  margin-right: 20px;
  color: rgb(180, 33, 33);
  font-weight: 600;
}
